/*

!.bashrc
!.bash_profile
!.lein
!.eslintrc.yml
!.gitconfig
!.gitignore
!.gitmodules
!.gitignore_global
!.gitmessage.txt
!.tern-config
!.vimrc
!.config/nvim/init.vim
!/bin
!Brewfile
!README.md
!/iterm-profiles/*
