[submodule ".vim/pack/plugins/start/vim-colors-solarized"]
	path = .vim/pack/plugins/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule ".vim/pack/plugins/start/vim-javascript"]
	path = .vim/pack/plugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule ".vim/pack/plugins/start/vim-jsx"]
	path = .vim/pack/plugins/start/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule ".vim/pack/plugins/start/scss-syntax.vim"]
	path = .vim/pack/plugins/start/scss-syntax.vim
	url = https://github.com/cakebaker/scss-syntax.vim
[submodule ".vim/pack/plugins/start/vim-yaml"]
	path = .vim/pack/plugins/start/vim-yaml
	url = https://github.com/avakhov/vim-yaml
[submodule ".vim/pack/plugins/start/vim-nginx"]
	path = .vim/pack/plugins/start/vim-nginx
	url = https://github.com/fatih/vim-nginx
[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/pack/plugins/start/nerdtree-git-plugin"]
	path = .vim/pack/plugins/start/nerdtree-git-plugin
	url = https://github.com/albfan/nerdtree-git-plugin
[submodule ".vim/pack/plugins/start/vim-rooter"]
	path = .vim/pack/plugins/start/vim-rooter
	url = https://github.com/airblade/vim-rooter
[submodule ".vim/pack/plugins/start/vim-fugitive"]
	path = .vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/pack/plugins/start/vim-unimpaired"]
	path = .vim/pack/plugins/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule ".vim/pack/plugins/start/vim-surround"]
	path = .vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/pack/plugins/start/vim-repeat"]
	path = .vim/pack/plugins/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule ".vim/pack/plugins/start/vim-commentary"]
	path = .vim/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/pack/plugins/start/ultisnips"]
	path = .vim/pack/plugins/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule ".vim/pack/plugins/start/mlaursen-vim-snippets"]
	path = .vim/pack/plugins/start/mlaursen-vim-snippets
	url = https://github.com/mlaursen/mlaursen-vim-snippets
[submodule ".vim/pack/plugins/start/tsuquyomi"]
	path = .vim/pack/plugins/start/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi
[submodule ".vim/pack/plugins/start/typescript-vim"]
	path = .vim/pack/plugins/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule ".vim/pack/plugins/start/editorconfig-vim"]
	path = .vim/pack/plugins/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule ".vim/pack/plugins/opt/cider-nrepl"]
	path = .vim/pack/plugins/opt/cider-nrepl
	url = https://github.com/clojure-emacs/cider-nrepl
[submodule ".vim/pack/plugins/opt/vim-fireplace"]
	path = .vim/pack/plugins/opt/vim-fireplace
	url = https://github.com/tpope/vim-fireplace
[submodule ".vim/pack/plugins/opt/vim-clojure-static"]
	path = .vim/pack/plugins/opt/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static
[submodule ".vim/pack/plugins/opt/vim-salve"]
	path = .vim/pack/plugins/opt/vim-salve
	url = https://github.com/tpope/vim-salve
[submodule ".vim/pack/plugins/start/vim-notes"]
	path = .vim/pack/plugins/start/vim-notes
	url = https://github.com/xolox/vim-notes
[submodule ".vim/pack/plugins/start/vim-misc"]
	path = .vim/pack/plugins/start/vim-misc
	url = https://github.com/xolox/vim-misc
[submodule ".vim/pack/plugins/opt/vim-cljfmt"]
	path = .vim/pack/plugins/opt/vim-cljfmt
	url = https://github.com/venantius/vim-cljfmt
[submodule ".vim/pack/plugins/start/closetag.vim"]
	path = .vim/pack/plugins/start/closetag.vim
	url = https://github.com/docunext/closetag.vim
[submodule ".vim/pack/plugins/start/ale"]
	path = .vim/pack/plugins/start/ale
	url = https://github.com/w0rp/ale
[submodule ".vim/pack/plugins/start/vim-airline"]
	path = .vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/plugins/start/vim-airline-themes"]
	path = .vim/pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".vim/pack/plugins/start/BufOnly.vim"]
	path = .vim/pack/plugins/start/BufOnly.vim
	url = https://github.com/vim-scripts/BufOnly.vim
[submodule ".vim/pack/plugins/start/vim-move"]
	path = .vim/pack/plugins/start/vim-move
	url = https://github.com/matze/vim-move
[submodule ".vim/pack/plugins/start/auto-pairs"]
	path = .vim/pack/plugins/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule ".vim/pack/plugins/start/vim-react-snippets"]
	path = .vim/pack/plugins/start/vim-react-snippets
	url = https://github.com/mlaursen/vim-react-snippets
[submodule ".vim/pack/plugins/start/fzf.vim"]
	path = .vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".vim/pack/plugins/start/bclose.vim"]
	path = .vim/pack/plugins/start/bclose.vim
	url = https://github.com/rbgrouleff/bclose.vim
[submodule ".vim/pack/plugins/start/YouCompleteMe"]
	path = .vim/pack/plugins/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
