[user]
  name = mlaursen
  email = mlaursen03@gmail.com
[core]
  editor = vim
  autocrlf = input
[push]
  default = upstream
[merge]
  keepBackup = false
  tool = p4merge
[mergetool]
  prompt = false
[mergetool "p4merge"]
  cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
  trustExitCode = false
  keepBackup = false
  keepTemporaries = false
[alias]
  ckb = checkout -b
  lg = log --name-status --no-merges
  pb = "!sh -c \"git pull origin `git currbranch`\""
  currbranch = rev-parse --abbrev-ref HEAD
  push1 = "!sh -c \"git push --set-upstream origin `git currbranch`\""
  messages = log --pretty=\"%an %ad %h %s\" --date=short --no-merges
  commits = log --pretty='%H'
  files = "!sh -c \"git diff --name-status --no-merges $1\""
  find = "!sh -c \"git messages --name-status --all --grep='$1'\""
  finda = "!sh -c \"git find $1 --author='$2'\""
[color]
  ui = auto
[credential]
  helper = store
[commit]
	template = ~/.gitmessage.txt
