Applications
Desktop
Documents
Downloads
Google\ Drive
Library
Movies
Music
Pictures
Public
Code

.CFUser*
.gem
.fzf*
.cups
.npm
.ssh
.vim
.viminfo
.npmrc
.DS_STORE
.NERDTreeBookmarks
.Trash
.adobe
.babel.json
.bash_history
.bash_sessions
.config
.dropbox
.git-credentials
.lesshst
.local
.node_repl_history
.oracle*
.v8*
.zsh*
