[user]
  name = mlaursen
  email = mlaursen03@gmail.com
[core]
  editor = vim
  autocrlf = true
[push]
  default = upstream
[alias]
  ckb = checkout -b
  lg = log --name-status --no-merges
  currbranch = rev-parse --abbrev-ref HEAD
  push1 = "!sh -c \"git push --set-upstream origin `git currbranch`\""
[color]
  ui = auto
[credential]
  helper = store
