# Hide all files
/*

# But allow tracking of specific files
!.bash_profile
!.bashrc
!.eslintrc.yml
!.gitconfig
!.gitignore
!.gitignore_global
!.gitmessage.txt
!.vimrc
!Brewfile
!README.md

# And allow tracking in some child folders...
!iterm-profiles/
!bin/

# But hide compiled/dynamic files
!.vim/
.vim/pack

!.config/
.config/*
!.config/nvim/
.config/nvim/*
!.config/nvim/init.vim

!.local/
.local/*
!.local/share
.local/share/*
!.local/share/nvim
.local/share/nvim/*
!.local/share/nvim/site
